/* CUSTOM VARIABLE DECLARATION */
:root {
--page-side-margin: 5%;
--section-break-margin: 25px;
--card-top-margin: 30px;
--form-element-input-margin: 8px;
--sectional-side-padding: 150px;
--sectional-top-padding: 45px;
}

/* Main CSS */
body {
  background: #B8B8FF;
  font-family: verdana
}

.PrivateHirePage {
  font: arial;
  margin-right: var(--page-side-margin);
  margin-left: var(--page-side-margin)
}

.Introduction {
  margin-top: var(--section-break-margin);
  background: #FFEEDD;
  padding-left: var(--sectional-side-padding);
  padding-right: var(--sectional-side-padding);
  padding-top: var(--sectional-top-padding);
  padding-bottom: var(--sectional-top-padding);
}
.AskForContactDetails {
  margin-top: var(--section-break-margin);
  background: #F8F7FF;
  padding-left: var(--sectional-side-padding);
  padding-right: var(--sectional-side-padding);
  padding-top: var(--sectional-top-padding);
  padding-bottom: var(--sectional-top-padding);
}

.card {
  margin-top: var(--card-top-margin);
  padding: 30px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #FFEEDD;
  width: 75%;
}

.PHContactForm{
  margin-top: var(--section-break-margin);
}

.PHMainInputs {
  display: flex;
}

.PHPermissionAndSubmit{
  display: flex;
  margin-top: 20px;
}

.PHPermission {
  width: 75%;
}

.PHFormElement {
  margin-right: var(--form-element-input-margin);
  width: 33%;
}