/* CUSTOM VARIABLE DECLARATION */
:root {
--page-side-margin: 5%;
--section-break-margin: 25px;
--card-top-margin: 30px;
--form-element-input-margin: 8px;
--sectional-side-padding: 150px;
--sectional-top-padding: 45px;
}

/* Generic CSS for HTML Elements */
body {
  background: #B8B8FF;
  font-family: verdana
}

textarea {
  resize: none;
}

/* Main CSS */
.PrivateHirePage {
  font: arial;
  margin:  0 var(--page-side-margin) 0 var(--page-side-margin);
}

.card {
  margin-top: var(--card-top-margin);
  padding: 30px 10% 30px 10%;
  background-color: #F8F7FF;
}

.Introduction {
  margin-top: var(--section-break-margin);
}
.AskForContactDetails {
  margin-top: var(--section-break-margin);
}

.PHMainInputs {
  display: flex;
}

.PHPermissionAndSubmit{
  display: flex;
  margin-top: 20px;
}

.PHPermission {
  width: 75%;
}

.PHFormElement {
  margin: 10px var(--form-element-input-margin) 0 0;
  width: 33%;
}

.PHFormInput {
  margin-top: 5px;
}

.democss {
  width:100%;
}