.container{
    max-width: 2000px;
    margin:auto
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px;
    margin-top: 90px;
    
}
.footer-column{
    width: 25%;
    padding: 0 15px;
}
.footer-column h3{
    font-size: 19px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
}
.about-us{
    font-size: x-small;
}
.our-company-list{
    text-align: left;
}


a{
    text-decoration: none;
    color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}
h3{
    text-decoration: underline;
    margin-bottom: 0;
}
.social{
    padding: 7px;
}
.help{
    margin-top: 40px;
}












