.main-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 33px;
}
html{
    background-size: cover;
    background-image: linear-gradient(to bottom right, #CF9FFF, #ebe2ce);
}
img{
    position: absolute;
    top: 8px;
    left: 20px;
    height: 110px;
    width: 125px;
    border-radius: 10px;

}
.container-divider{
    padding: 12px;
}
.line{
    width: 100%;
    height: 45px;
    position: relative;
}

.line::after, .line::before{
    content: "";
    position: absolute;
    margin: auto;
    height: 2px;
    background: #ebe2ce;
    width: 46%;
    top: 46%;
}
.line::after{
    left: 0;
}

.line::before{
    right: 0;
}


.dot{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color:#ebe2ce;
  position: relative;
  top:0;
  left:0;
  margin-left: 594px;

}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: black;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
}
.ticket-button{
    display: block;
    background-color: #317fd8;
    color: black;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 550px;
    cursor: pointer;
    width: 200px;
    height: 35px;
}
.ticket-button:hover{
    background-color:#ebe2ce;
}
.selection{
    background-color:#ebe2ce;
    border-color: #CF9FFF;
}
.nav-link{
        padding: 0px;
        margin-left: 200px;
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        font-size: 16px;
}

nav{
    width: 100%;
    margin-left: 8px;

}
.navbar-list{
    list-style-type: none;
    margin-top: 40px;
}
.nav-link:hover{
    text-decoration: underline;
    color: #ebe2ce;
}

select{
    position:relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 560px;
    margin-top: 35px;
}

/* ensures the footer has full page width */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin:auto
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px;
    margin-top: 90px;
    
}
.footer-column{
    width: 25%;
    padding: 0 15px;
}
.footer-column h3{
    font-size: 19px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
}


.amount-select, option:hover{
    display: block;
    background-color: #317fd8;
    color: black;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 550px;
    cursor: pointer;
    width: 200px;
    height: 35px;
}
.amount-select:hover, option:hover{
    cursor: pointer;
}
.amount-select::before{
    content:"";
    cursor: pointer;
}

.about-us{
    font-size: x-small;
}
.our-company-list{
    text-align: left;
}
.book-button{
    background-color: #3d8c40 ;
    display: block;
    color: black;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 550px;
    cursor: pointer;
    width: 200px;
    height: 35px;
}
.book-button:hover{
    background-color:#4caf50 ;
}
a{
    text-decoration: none;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}
h3{
    text-decoration: underline;
    margin-bottom: 0;
}
.social{
    padding: 7px;
}
.help{
    margin-top: 40px;
}