.payment-container {
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
  }
  
  .payment-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #666;
  }
  
  .form-group input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    transition: box-shadow 0.2s ease-in-out;
  }
  
  .form-group input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 5px #4CAF50;
  }
  
  .form-group-expiration,
  .form-group-cvv {
    width: calc(50% - 10px);
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .card-images {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .card-images img {
    width: 60px;
    margin-right: 10px;
  }
  
  
  