.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
    margin: 20px 15px 0 0;
  }
  
  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f7f7f7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
  }
  
  .card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #f7f7f7;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .card-title {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
  }
  
  .card-subtitle {
    margin-top: -0.25rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .card-text {
    margin-bottom: 1rem;
  }
  
  .card-link {
    text-decoration: none;
  }
  
  .card-link:hover {
    text-decoration: underline;
  }
  
  .card-img-top {
    width: 100%;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  
  .card-img-bottom {
    width: 100%;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }  